*{
    margin: 0px;
    padding: 0px;
}

 body{
    background-color: #279AF1;
    text-align: center ;

 }
h1{
   margin: 2vh;
   padding: 2px;
   /* background-color: #60656F; */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 5vmin;
   color: black;
   
}
 .container{
    /* background-color: #279AF1; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center ;
    gap: 1vmin;
 }

 .box{
    height: 18vmin;
    width: 18vmin;
    border: 3px black solid;
    border-radius: 1rem ;
    /* border: none; */
    background-color: white;
    font-size: 8vmin;
    color: #60656F ;
 }


 #reset{
   padding: 1rem; 
   font-size: 1.75rem;
   font: bolder;
   border: 3px black solid;
   border-radius: 20px;
   background-color: #C49991;
   color: black;
}

#newgame{
   padding: 1rem; 
   font-size: 1.75rem;
   font: bolder;
   border: 3px black solid;
   border-radius: 20px;
   background-color: #C49991;
   color: black;
}

#win{
   background-color: wheat;
   display: inline-block;
   height: 8vh;
   width:max-content;
   color: brown;
   font-size: 5vh;
   padding: 4px 12px;
   margin:3px;
   border: 2px white solid ;
   border-radius: 20px;
   align-content: center ;
}

.hide{
   display: none;
}